%h1 Listing categories

%table.table
  %tr
    %th Name
    %th
    %th
    %th

  - categories.each do |category|
    %tr
      %td= category.name
      %td= link_to t('shared.show'), category
      %td= link_to t('shared.edit'), edit_category_path(category)
      %td= link_to t('shared.destroy'), category, method: :delete, data: { confirm: 'Are you sure?' }

%br
- if current_user.try(:admin?)
  = link_to t('.new_category'), new_category_path
