
%nav.navbar.navbar-default.navbar-top{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to AppConfig.workshops_name, root_path, class: "navbar-brand"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      - unless user_signed_in?
        %ul.nav.navbar-nav
          %li= link_to t('menu_navbar.sign_in'), new_user_session_path
          %li= link_to t('menu_navbar.sign_up'), new_user_registration_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
              = current_user.decorate.humanize_name
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('menu_navbar.profile_page'), profiles_path
              %li= link_to t('menu_navbar.edit_user'), edit_user_registration_path
              %li= link_to t('menu_navbar.sign_out'), destroy_user_session_path, method: :delete
